{% extends "../index.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h2>{{ job.name }}</h2>
                </div>
                <div class="card-body text-left">
                    <h5 class="card-title">Job Information</h5>
                    <p><strong>Title:</strong> {{ job.title }}</p>
                    <p>
                        <strong>Location:</strong>
                        {% if job.on_or_off == 'ON' %}
                            <span style="color: green;">online</span>
                        {% else %}
                            {{ job.city }}
                        {% endif %}
                    </p>
                    <p><strong>Full-time/part-time:</strong> {{ job.full_or_part }}</p>
                    <p><strong>Salary:</strong> {{ job.salary }}</p>
                    <p><strong>Description:</strong> {{ job.description }}</p>
                </div>
                <div class="card-footer text-muted text-center">
                    <p>Information is accurate as of {{ job.created_time|date:"F j, Y, g:i a" }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
