{% extends "../index.html" %}

{% block content %}
    <!-- Main Content -->
    <div class="col-md-9 mx-auto text-center">
        <div>
            <h1>Look for Students</h1>
            <br>
            <p>If you need students, they are here!</p>
        </div>

        <!-- Блок с кнопками фильтров -->
        <div class="mt-4">
            <div class="row justify-content-center">
                {% for category in categories %}
                <div class="col-md-3 mb-2 d-flex">
                    <button class="btn btn-primary w-100 d-flex align-items-center justify-content-center" style="height: 50px;">
                        <a href="{{ category.get_absolute_url }}" style="text-decoration: none; color: white;">{{ category.name }}</a>
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% block blanks %}
    {% endblock %}
{% endblock %}
