<div align="center">
    <br>
    <div class="container">
        <div class="row justify-content-center">
            {% for student in students %}
                <div class="col-md-12 mb-4"> <!-- Занимаем всю строку для одного объявления -->
                    <div class="card" style="min-height: 150px;"> <!-- Задаем минимальную высоту карточки -->
                        <div class="card-body text-center">
                            <h5 class="card-title" align="left"><a href="{{ student.get_absolute_url }}">{{ student.name }}</a></h5>
                            <p class="card-text" align="left">Age: {{ student.age }}</p>
                            <p class="card-text" align="left">Specialization: {{ student.specialization }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
